<div class="container">
  <h2>Log In</h2>
  <%= form_tag '/login' do %>
    Username: <%= text_field_tag :username %>
    Password: <%= password_field_tag :password %>
    <%= submit_tag "Log In" %>
    <% end %><br>
      <%= link_to ' Nuovo Utente',  new_user_path %>
</div>