<div class="container" style="padding: 30px;  background-color: coral; text-align: center">
  <h1>Modifica Richiesta</h1>
  <hr>
<%= simple_form_for task, class: 'clearfix', remote: true  do |f| %>
  <div style="font-size: 20px">
    <%= f.text_field :oggetto, size: "28", value: task.oggetto %>
      <hr>
    <%= f.text_area :richiesta, size: "50x10", value: task.richiesta %>
    <%= f.hidden_field :stato, :value => "new" %>
    <%= f.input :urgenza, as: :string, :label => "Data Desiderata  _", style: 'margin-left: 10px;  display: inline;', input_html: {value:  task.urgenza && task.urgenza.strftime("%e/%m/%Y"), class: 'datepicker', size: 8} %> 
      <hr>
    <%= f.submit 'Save', class: 'btn btn-primary', style: 'display: inline;' %>
</div>
<% end %>
<script>

$( document ).ready(function() {
    $('.datepicker').datepicker();
});

</script>
