<div class="container" style="padding: 30px;  background-color: coral; text-align: center">
  <h1>Nuova Richiesta</h1>
  <hr>
<%= simple_form_for task,  remote: true  do |f| %>
  <div style="font-size: 20px">
    <%= f.text_field :oggetto, size: "28", placeholder: "OGGETTO della RICHIESTA" %>
    <hr>
    <%= f.text_area :richiesta, size: "50x10", placeholder: "DESCRIZIONE" %>
    <%= f.hidden_field :stato, :value => "new" %>
    <%= f.input :urgenza, as: :string, placeholder: "dd/mm/yyyy", :label => "Data Desiderata  _", style: 'margin-left: 10px;  display: inline;', input_html: {class: 'datepicker', size: 8} %> 
    <hr>
    <% if $is_gestore %>
      <%= f.select(:apt, apts) %>
    <% end %>
    <%= f.submit 'Save', class: 'btn btn-primary', style: 'display: inline;' %>
        
  </div>
<% end %>
<script>

$( document ).ready(function() {
    $('.datepicker').datepicker();
});

</script>
