<div class="container">
  <% if !tasks %>
    <span class="text-warning">There are no tasks!</span>
  <% else %>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Oggetto</th>
          <th>Data di Richiesta</th>
          <th>Urgenza</th>
          <th>Stato</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <% tasks.each do |task| %>
          <tr>
            <td>
              <strong>
                <%= task.oggetto %>
              </strong>
            </td>
            <td class="text-info">
              <%= task.created_at %>
            </td>
            <td class="text-success">
              <%= task.urgenza %>
            </td>
            <td class="text-success">
              <%= simple_form_for task, class: 'clearfix', remote: true  do |f| %>
                <%= f.select(:stato, stati, {}, {:onchange => 'this.form.submit()', class: "form-control"}) %>
              <% end %>
            </td>
            <td class="text-success">
              <% if(task.email == session[:email]) %>
                <%= link_to task_path(task), method: :delete, remote: true, data: {confirm: "Are you sure you want to delete task #{task.oggetto}?"} do %>  <i class="icon-remove"></i><% end %>                
                <%= link_to edit_tasks_path(task), remote: true do %>  <i class="icon-pencil"></i><% end %>
              <% end %>
              <%= link_to history_tasks_path(task), remote: true do %>  <i class="icon-time"></i><% end %>
              <%= link_to commenti_tasks_path(task), remote: true do %>  <i class="icon-comment"></i><% end %>
            </td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
