<tr>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= simple_form_for user, class: 'clearfix', remote: true  do |f| %>
      <%= f.select(:stato, @stati, {}, {:onchange => 'this.form.submit()', class: "form-control"}) %>
    <% end %>
  </td>
  <td>
    <%= user.apt %>
  </td>
  <td>
    <%= link_to history_path(user), remote: true do %><i class="fa fa-history"></i></i><% end %>
    <%= link_to commenti_path(user), remote: true do %><i class="fa fa-commenting-o"></i><% end %>
  </td>
</tr>