<div class="container">
  <h2>Nuovi Utenti da Approvare</h2>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>email</th>
          <th>Stato</th>
          <th>APT</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <% Array(@nuovi).each do |user| %>
          <tr>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= simple_form_for user, class: 'clearfix', remote: true  do |f| %>
                <%= f.select(:stato, @stati, {}, {:onchange => 'this.form.submit()', class: "form-control"}) %>
              <% end %>
            </td>
            <td>
              <%= user.apt %>
            </td>
            <td>
              <%= link_to history_path(user), remote: true do %>  <i class="icon-time"></i><% end %>
              <%= link_to commenti_path(user), remote: true do %>  <i class="icon-comment"></i><% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h2>Utenti Attivi</h2>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th><%= sortable "email"%></th>
          <th><%= sortable "stato"%></th>
          <th><%= sortable "apt" %> </th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: @users %>
      </tbody>
    </table>    
</div>