<!DOCTYPE html>
<html>
  <head>
    <title>RailsRuby3</title>
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<div class="row-fluid">
  <div class="span10 offset1">
    <div class="hero-unit text-center">
      <h1>
        ToDo
      </h1>
      <p>
        Welcome to the tutorial's ToDo application
      </p>   
      <%= link_to 'New Task',  new_task_path,  class:  'btn btn-primary', remote: true  %>
      <%= link_to 'Clear List',  clear_task  _path,  class:  'btn btn-primary', remote: true  %>
    </div>
  </div>
</div>

    <%= yield %>
  </body>
</html>
