<!DOCTYPE html>
<html>
  <head>
    <title>RailsRuby</title>
    <!--script src="/javascripts/script2sourceInApplicationLayout.js"></script-->

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
<div class="row-fluid">
  <div class="span10 offset1">
    <div class="hero-unit text-center">
      <h1>
        Richiesta Manutenzioni
      </h1>
      <p>
        inserisci e gestisci le richieste
      </p>  
      <% if current_user %>
        <% puts "UTENTE: #{current_user}" %>
        <h4 class="benvenuto">Benvenuto <%= current_user.username %>      <a class="btn btn-primary" href="/logout">Log Out</a> </h4>
      <% end %>
    </div>
  </div>
</div>

    <%= yield %>
</body>
</html>
